# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\school\Schule 2020_21\Labor_2020_21\SYT_Labor\DEZSYS_GK772_WINDPARK_MOM-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
